
body {
  margin: 0;
  background-color: #222;
  color: #dedede;
}

.hero-holder {
  float: left;
  width: 100%;
  height: 400px;
  background-color: #808080;
}

@media ( min-height: 401px ) {
  .hero-holder {
    height: 600px;
  }
}

@media ( min-height: 601px ) {
  .hero-holder {
    height: 800px;
  }
}

@media ( min-height: 801px ) {
  .hero-holder {
    height: 1024px;
  }
}

@media ( min-height: 1025px ) {
  .hero-holder {
    height: 100vh;
  }
}

.extra-content {
  float: left;
}

